<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
  "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

  <context id="context" targetRuntime="MyBatis3">

    <!-- 识别关键字 -->
    <property name="autoDelimitKeywords" value="true"/>
    <property name="beginningDelimiter" value="`"/>
    <property name="endingDelimiter" value="`"/>


    <!-- 配置相关插件-->
    <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
    <plugin type="com.byit.plugin.DefaultNamePlugin"/>
    <plugin type="com.byit.plugin.LombokAnnotationPlugin"/>
    <!-- 统一格式-->
    <commentGenerator type="com.byit.plugin.NormalCommentGenerator">
      <property name="suppressAllComments" value="false"/>
      <property name="addRemarkComments" value="true"/>
      <property name="dateFormat" value="yyyy-MM-dd"/>
    </commentGenerator>


    <!--<jdbcConnection driverClass="com.mysql.jdbc.Driver"
      connectionURL="jdbc:mysql://10.1.2.104:3306/byitact?tinyInt1isBit=false&amp;
                        useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull"
      userId="dev_oper" password="0755oper"/>-->
<jdbcConnection driverClass="com.mysql.jdbc.Driver"
      connectionURL="jdbc:mysql://localhost:3306/ddmp?tinyInt1isBit=false&amp;
                        useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull"
      userId="root" password="root"/>
      
    <!-- 处理TINYINT(1) 等 -->
    <javaTypeResolver type="com.byit.plugin.DefaultJavaTypeResolverDefault">
      <property name="forceBigDecimals" value="true"/>
    </javaTypeResolver>

    <!-- domaim=po持久化对象-->
    <javaModelGenerator targetPackage="idata.dmp.business.bean" targetProject="src/main/java">
      <property name="enableSubPackages" value="false"/>
      <property name="trimStrings" value="true"/>
    </javaModelGenerator>

    <!-- xml生成地址 -->
    <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
      <property name="enableSubPackages" value="false"/>
      <property name="rootInterface" value="idata.dmp.business.mapper"/>
    </sqlMapGenerator>

    <!-- mapper接口地址 -->
    <javaClientGenerator targetPackage="idata.dmp.business.mapper" targetProject="src/main/java"
                         type="XMLMAPPER">
      <property name="enableSubPackages" value="false"/>
    </javaClientGenerator>
      <table tableName="idata_dmp_mp_user" domainObjectName="MpUser"/>


  </context>

</generatorConfiguration>
